<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>PGHomes</display-name>
	<servlet>
		<description></description>
		<display-name>TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>AuthenticateOwner</display-name>
		<servlet-name>AuthenticateOwner</servlet-name>
		<servlet-class>com.pghomes.pgowner.AuthenticateOwner</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>LogoutOwner</display-name>
		<servlet-name>LogoutOwner</servlet-name>
		<servlet-class>com.pghomes.pgowner.LogoutOwner</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>OwnerController</display-name>
		<servlet-name>OwnerController</servlet-name>
		<servlet-class>com.pghomes.pgowner.OwnerController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PopulatePGList</display-name>
		<servlet-name>PopulatePGList</servlet-name>
		<servlet-class>com.pghomes.openuser.PopulatePGList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PopulateLocality</display-name>
		<servlet-name>PopulateLocality</servlet-name>
		<servlet-class>com.pghomes.openuser.PopulateLocality</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PopulatePGCountList</display-name>
		<servlet-name>PopulatePGCountList</servlet-name>
		<servlet-class>com.pghomes.openuser.PopulatePGCountList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PopulateRooms</display-name>
		<servlet-name>PopulateRooms</servlet-name>
		<servlet-class>com.pghomes.pgowner.PopulateRooms</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PopulateBeds</display-name>
		<servlet-name>PopulateBeds</servlet-name>
		<servlet-class>com.pghomes.pgowner.PopulateBeds</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterOwner</display-name>
		<servlet-name>RegisterOwner</servlet-name>
		<servlet-class>com.pghomes.pgowner.RegisterOwner</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddPG</display-name>
		<servlet-name>AddPG</servlet-name>
		<servlet-class>com.pghomes.pgowner.AddPG</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetLocalityList</display-name>
		<servlet-name>GetLocalityList</servlet-name>
		<servlet-class>com.pghomes.pgowner.GetLocalityList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddRooms</display-name>
		<servlet-name>AddRooms</servlet-name>
		<servlet-class>com.pghomes.pgowner.AddRooms</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeletePG</display-name>
		<servlet-name>DeletePG</servlet-name>
		<servlet-class>com.pghomes.pgowner.DeletePG</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetRoomNames</display-name>
		<servlet-name>GetRoomNames</servlet-name>
		<servlet-class>com.pghomes.pgowner.GetRoomNames</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteRoom</display-name>
		<servlet-name>DeleteRoom</servlet-name>
		<servlet-class>com.pghomes.pgowner.DeleteRoom</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PopulateGuest</display-name>
		<servlet-name>PopulateGuest</servlet-name>
		<servlet-class>
		com.pghomes.pgowner.PopulateGuest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateGuest</display-name>
		<servlet-name>UpdateGuest</servlet-name>
		<servlet-class>
		com.pghomes.pgowner.UpdateGuest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthenticateOwner</servlet-name>
		<url-pattern>/AuthenticateOwner</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutOwner</servlet-name>
		<url-pattern>/LogoutOwner</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OwnerController</servlet-name>
		<url-pattern>/OwnerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PopulatePGList</servlet-name>
		<url-pattern>/PopulatePGList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PopulateLocality</servlet-name>
		<url-pattern>/PopulateLocality</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PopulatePGCountList</servlet-name>
		<url-pattern>/PopulatePGCountList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PopulateRooms</servlet-name>
		<url-pattern>/PopulateRooms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PopulateBeds</servlet-name>
		<url-pattern>/PopulateBeds</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterOwner</servlet-name>
		<url-pattern>/RegisterOwner</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPG</servlet-name>
		<url-pattern>/AddPG</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetLocalityList</servlet-name>
		<url-pattern>/GetLocalityList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddRooms</servlet-name>
		<url-pattern>/AddRooms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePG</servlet-name>
		<url-pattern>/DeletePG</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRoomNames</servlet-name>
		<url-pattern>/GetRoomNames</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteRoom</servlet-name>
		<url-pattern>/DeleteRoom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PopulateGuest</servlet-name>
		<url-pattern>/PopulateGuest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateGuest</servlet-name>
		<url-pattern>/UpdateGuest</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>